<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        {% if username %}
            <p>Welcome, {{ username }}!</p>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('list_app') }}">Go to List Application</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </header>
    <h1>Welcome to the Home Page</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
